* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 3800px;
    overflow: hidden;
    /* background-color: antiquewhite; */
}
.bux{
    width: 1500px;
    height: 6500px;
    margin: auto;
    overflow: hidden;
    background-color: rgb(250, 243, 255);
}
.box1{
    width: 98.6%;
    height: 210px;
    margin: auto;
    margin: 10px;
    overflow: hidden;
    /* background-color: rgb(238, 238, 238); */
}
.daiban{
    width: 215px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 15px;
    border-radius: 10px;
}
h3{
    margin: 5px 0 0 5px;
}
.daiban h3{
    margin: 15px 0 0 13px;
}
.daiban p{
    color: gray;
    margin: 15px 0 0 13px;
}
.daiban h1{
    color: rgb(92, 32, 255);
    margin: 15px 0 0 13px;
}
.box2{
    width: 100%;
    height: 470px;
    /* background-color: antiquewhite; */
}
.left{
    width: 720px;
    height: 100%;
    float: left;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}
.right{
    width: 720px;
    height: 100%;
    float: right;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}
.left h2{
    margin: 15px 0 20px 13px;
}
.right h2{
    float: left;
    margin: 15px 0 20px 13px;
}
.riqi{
    width: 80px;
    height: 30px;
    float: right;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    line-height: 27px;
    background-color: rgb(255, 255, 255);
}
.you{
    width: 610px;
    /* background-color: antiquewhite; */
    float: right;
}
.shijian{
    width: 80px;
    height: 30px;
    float: right;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    line-height: 27px;
    background-color: rgb(255, 255, 255);
}
.left1{
    width: 700px;
    height: 400px;
    margin: 15px;
    margin: auto;
    /* background-color: antiquewhite; */
}
.right1{
    width: 700px;
    height: 400px;
    margin: 15px;
    margin: auto;
    overflow: hidden;
    /* background-color: antiquewhite; */
}
.box3{
    width: 1500px;
    height: 900px;
    /* background-color: aquamarine; */
    margin: auto;
    overflow: hidden;
}
.box3 h2{
    margin: 15px 0 0 25px;
}
.youbian{
    float: right;
    margin-right: 15px;
    margin-top: -37px;
    /* background-color: antiquewhite; */
}
#dateInput{
    width: 120px;
    height: 30px;
    float: right;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    line-height: 27px;
    border: none;
    background-color: rgb(255, 255, 255); 
}
.he{
    width: 1470px;
    height: 820px;
    border-radius: 10px;
    /* background-color: antiquewhite; */
    margin: auto;
    margin-top: 20px;
}
.he1{
    float: left;
}
.he2{
    float: right;
}
.he1,.he2{
    width: 690px;
    height: 750px;
    margin: 22px;
    /* background-color: aqua; */
}
.touduo{
    width: 324px;
    height: 230px;
    float: left;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.touduo h3{
    font-size: 30px;
    margin: 15px 0 0 25px;
}
.touduo h1{
    margin: 50px 0 0 25px;
}
.touduo p{
    color: gray;
    margin: 40px 0 0 25px;
}
.box4{
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
}
.fenxiao{
    width:730px;
    height: 680px;
    /* background-color: antiquewhite; */
    margin: 10px;
    float: left;
}
.fenxiao h2{
    margin: 15px 0 0 25px;
}
.lun{
    width: 90%;
    height: 600px;
    margin: auto;
    overflow: hidden;
    margin-top: 18px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.box5{
    width: 1500px;
    height: 700px;
    overflow: hidden;
    /* background-color: aquamarine; */
}
.box5 h2{
    margin: 20px 0 0 25px;
}
.leftbox{
    width: 430px;
    height: 600px;
    float: left;
    margin-left: 50px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
}
.rightbox{
    width:980px;
    height: 600px;
    float: right;
    border-radius: 10px;
    margin-top: 0px;
    margin-right: 40px;
    background-color:  rgb(255, 255, 255);
}
.moshe{
    float: left;
    width: 370px;
    height: 220px;
    margin: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.moshe h2{
    margin: 45px 0 0 25px;
}
.pp19{
    background-color: blue;
}
.mi3{
    background-color: rgb(28, 226, 160);
}
.pp19,.mi3{
    width: 15px;
    height: 15px;
    float: left;
    margin: 7px;
}
.box6{
    width: 1500px;
    height: 500px;
    /* background-color: rgb(255, 145, 0); */
    /* margin: auto; */
    overflow: hidden;
}
.yhshangp{
    width: 680px;
    height: 460px;
    float: left;
    margin-left:47px;
    margin-top: 17px;
    border-radius: 10px;
    /* background-color: antiquewhite; */
}
.yhshangp h2{
    margin: 15px 0 0 25px;
}
.shangp{
    width: 630px;
    height: 390px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}